In [ ]:
import numpy as np
import pandas as pd

In [ ]:
def read_csv_with_error_handling(file_path):
    try:
        df = pd.read_csv(file_path, encoding='utf-8')
        return df
    except pd.errors.ParserError as e:
        print(f"ParserError while reading {file_path}: {e}")
        return None
    except Exception as e:
        print(f"An error occurred while reading {file_path}: {e}")
        return None

# Read movies.csv
movies_df = read_csv_with_error_handling("/content/movies.csv")

# Check if reading was successful
if movies_df is not None:
    print("movies.csv successfully loaded.")
else:
    print("Error loading movies.csv. Check the error message for details.")

# Read credits.csv
credits_df = read_csv_with_error_handling("/content/credits.csv")

# Check if reading was successful
if credits_df is not None:
    print("credits.csv successfully loaded.")
else:
    print("Error loading credits.csv. Check the error message for details.")

movies.csv successfully loaded.
credits.csv successfully loaded.

<ipython-input-90-d5372143640b>:3: DtypeWarning: Columns (0,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='utf-8')

In [ ]:
credits_df

,movie_id,title,cast,crew,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 1255,Unnamed: 1256,Unnamed: 1257,Unnamed: 1258,Unnamed: 1259,Unnamed: 1260,Unnamed: 1261,Unnamed: 1262,Unnamed: 1263,Unnamed: 1264
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3541,1548,Ghost World,"[{""cast_id"": 4, ""character"": ""Enid"", ""credit_i...","[{""credit_id"": ""5533ea9f9251411014003ef5"", ""de...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3542,11889,Iris,"[{""cast_id"": 1, ""character"": ""Iris Murdoch"", ""...","[{""credit_id"": ""52fe449b9251416c7503aa99"", ""de...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3543,33155,Galaxina,"[{""cast_id"": 1, ""character"": ""Galaxina"", ""cred...","[{""credit_id"": ""52fe45009251416c910242ed"", ""de...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3544,5528,The Chorus,"[{""cast_id"": 11, ""character"": ""Cl\u00e9ment Ma...","[{""credit_id"": ""52fe440cc3a36847f807f4e9"", ""de...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3545,321,Mambo Italiano,"[{""cast_id"": 13, ""character"": ""Angelo Barberin...","[{""credit_id"": ""52fe4237c3a36847f800cf8f"", ""de...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
movies_df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",19-05-2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",26-10-2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",16-07-2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",07-03-2012,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",04-09-1992,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],26-12-2011,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",13-10-2013,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",03-05-2012,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",05-08-2005,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [ ]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [ ]:
credits_df

In [ ]:
movies_df

In [ ]:
credits_df.tail()

In [ ]:
movies_df.tail()

In [ ]:
movies_df = movies_df.merge(credits_df, on='title')

In [ ]:
movies_df.shape

In [ ]:
movies_df.head()

In [ ]:
movies_df.info()

In [ ]:
print(movies_df.columns)

In [ ]:
print(movies_df.columns)

In [ ]:
movies_df = movies_df[['movie_id','title', 'overview','genres','keywords','cast','crew']]

In [ ]:
movies_df.head()

In [ ]:

movies_df.info()

In [ ]:
movies_df.isnull().sum()

In [ ]:
movies_df.dropna(inplace=True)

In [ ]:
movies_df.duplicated().sum()

In [ ]:
movies_df.iloc[0].genres

In [ ]:
import ast

In [ ]:
def convert(obj):
  L=[]
  for i in ast.literal_eval(obj):
    L.append(i['name'])
    return L

In [ ]:
def convert(value):
    try:

        if isinstance(value, list):
            return ', '.join(value)

            return value
    except Exception as e:
        print(f"Error in convert function: {e}")
        return None

# Apply the convert function to the 'genres' and 'keywords' columns
movies_df['genres'] = movies_df['genres'].apply(convert)
movies_df['keywords'] = movies_df['keywords'].apply(convert)

In [ ]:
def convert3(obj):
  L=[]
  counter = 0
  for i in ast.literal_eval(obj):
    if counter != 3:
      L.append(i['name'])
      counter += 1
    else:
      break

    return L

In [ ]:
credits = pd.read_csv('/content/credits.csv')
movies = pd.read_csv('/content/movies.csv')
print(movies.columns)

print(movies_df.dtypes)

In [ ]:
movies_df['cast'] = movies_df['cast'].apply(convert3)

In [ ]:
movies_df.head()

In [ ]:
def fetch_director(obj):
  L=[]
  for i in ast.literal_eval(obj):
    if i['job']=='Director':
      L.append(i['name'])
      break

  return L

In [ ]:
def fetch_director(crew_data):
    # Example: Assuming crew_data is a string in JSON format
    try:
        crew_list = eval(crew_data)  # Use appropriate method to convert string to list/dict
        for crew_member in crew_list:
            if crew_member['job'] == 'Director':
                return crew_member['name']
    except (KeyError, TypeError):
        return None  # Handle the case where the data doesn't have the expected format

In [ ]:
import ast

def fetch_director(crew_data):
    try:
        crew_list = ast.literal_eval(crew_data)
        for crew_member in crew_list:
            if 'job' in crew_member and crew_member['job'] == 'Director':
                return crew_member.get('name')
    except (ValueError, SyntaxError):
        return None  # Handle the case where the data doesn't have the expected format

# Apply the fetch_director function to the 'crew' column
credits['crew'] = credits['crew'].apply(fetch_director)

In [ ]:
movies = pd.read_csv('/content/movies.csv')

movies['overview'][0]

In [ ]:
movies['overview'] = movies['overview'].apply(lambda x: x.split() if isinstance(x, str) else [])

In [ ]:
movies

In [ ]:
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ", "") for i in x] if isinstance(x, list) else [])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ", "") for i in x] if isinstance(x, list) else [])
credits['crew'] = credits['crew'].apply(lambda x: [i.replace(" ", "") for i in x] if isinstance(x, list) else [])
credits['cast'] = credits['cast'].apply(lambda x: [i.replace(" ", "") for i in x] if isinstance(x, list) else [])

In [ ]:
movies

In [ ]:
credits

In [ ]:
credits['tags']= movies['overview']+movies['genres']+movies['keywords']+credits['cast']+credits['crew']

In [ ]:
movies

In [ ]:
new_df = credits[['movie_id', 'title','tags']]

In [ ]:
new_df.head()

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv =CountVectorizer(max_features = 5000, stop_words='english')

In [ ]:
new_df = credits[['movie_id', 'title','tags']]
new_df['tags'] = new_df['tags'].apply(lambda x: ' '.join(x) if isinstance(x, list) else '')

# Create a CountVectorizer instance and fit_transform the 'tags' column
vectorizer = CountVectorizer()
tags_matrix = vectorizer.fit_transform(new_df['tags']).toarray()

In [ ]:
cv.fit_transform(new_df['tags']).toarray().shape

In [ ]:
vectors = cv.fit_transform(new_df['tags']).toarray().shape

In [ ]:
vectors[0]

In [ ]:
import nltk

In [ ]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [ ]:
def stem(text):
  y=[]
  for i in text.split():
    y.append(ps.stem(i))
  return "".join(y)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
# Assuming 'vectors' is your tuple
vectors = tuple(np.atleast_1d(arr) for arr in vectors)

# Concatenate the arrays and reshape
vectors = np.concatenate(vectors).reshape(1, -1)

# Compute cosine similarity
similarity = cosine_similarity(vectors)

In [ ]:
def recommend(movie):

    global new_df, similarity
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]

    # Sort movies_list based on similarity values in descending order
    movies_list = sorted(list(enumerate(distances)), key=lambda x: x[1], reverse=True)[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [ ]:
dataset_path = '/content/movies.csv'

# Read the dataset from the CSV file
new_df = pd.read_csv(dataset_path)

# Assuming similarity matrix is a NumPy array with shape (number_of_movies, number_of_movies)
# Replace this with your actual similarity matrix
similarity = np.random.rand(new_df.shape[0], new_df.shape[0])

def recommend(movie_name):
    global new_df, similarity

    try:
        # Normalize to lowercase for case-insensitive matching
        movie_name_lower = movie_name.lower()

        # Find the index of the movie in the DataFrame
        movie_index = new_df.index[new_df['title'].str.lower() == movie_name_lower].tolist()

        if movie_index:
            # Get the similarity scores for the movie
            distances = similarity[movie_index[0]]

            # Get the indices of movies with high similarity (excluding the movie itself)
            similar_movies_indices = sorted(range(len(distances)), key=lambda i: distances[i], reverse=True)[1:6]

            # Print recommended movies
            recommended_movies = new_df.iloc[similar_movies_indices]['title'].tolist()
            print(f"Recommended movies for '{movie_name}': {recommended_movies}")
        else:
            print(f"Error: Movie '{movie_name}' not found in the dataset.")

    except IndexError:
        print(f"Error: Index error while recommending movies for '{movie_name}'.")

# Print the content of the DataFrame and the similarity matrix for debugging
print("DataFrame:")
print(new_df.head())  # Print the first few rows for visibility
print("\nSimilarity Matrix:")
print(similarity)

In [ ]:
recommend('Avatar')

Recommended movies for 'Avatar': ['Michael Clayton', 'Fear Clinic', 'Twins', 'Into the Storm', 'Whale Rider']

In [ ]:
recommend('Spectre')

Recommended movies for 'Spectre': ['Lone Star', 'Penguins of Madagascar', 'The Cave', 'Furious 7', 'Partition']

In [ ]:
recommend('The Avengers')

Recommended movies for 'The Avengers': ['J. Edgar', 'Slums of Beverly Hills', 'The Other Conquest', 'Beyond the Black Rainbow', 'Vera Drake']

In [ ]:
recommend('Tangled')

Recommended movies for 'Tangled': ['Thunderball', 'Pokémon: Spell of the Unknown', 'Treading Water', 'Land of the Lost', 'The Ridiculous 6']

In [ ]:
recommend('Men in Black 3')

Recommended movies for 'Men in Black 3': ['Amadeus', 'The Toxic Avenger Part II', 'L.A. Confidential', 'Nowhere Boy', 'Soul Food']

In [ ]:
recommend('Robin Hood')

Recommended movies for 'Robin Hood': ['From Paris with Love', 'Good Deeds', 'Kung Fu Jungle', 'Childless', 'The Snow Queen']

In [ ]:
recommend('Titanic')

Recommended movies for 'Titanic': ['Beyond the Sea', 'Madison', 'Ask Me Anything', 'To Kill a Mockingbird', 'Flatliners']

In [ ]:
recommend('King Kong')

Recommended movies for 'King Kong': ['Jurassic Park III', 'Tomorrowland', 'Bedtime Stories', 'Furious 7', "Dead Man's Shoes"]